<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/style.css" rel="stylesheet"/>

    <title>Ошибка 404</title>
</head>
<body style="margin:0;">
<div id="box">
    <h2 id="a1">Площадка для объвлений</h2>
    <div id="a2">
        <a href="javascript:history.back()">
            <div id="reg-log-button">Назад</div>
        </a>
    </div>
</div>
<div class="blocktext">
    <h1>🤔 То что вы пытались найти отсутствует на сервер...</h1>
</div>
</body>
</html>